In [11]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re #because classification problems are NLP
from nltk.corpus import stopwords #NLP based library in python
from sklearn.preprocessing import LabelEncoder #Level encoder because supervised ML cases need to be encoded
from sklearn.model_selection import train_test_split #split data 80% training and 20% testing
from sklearn.feature_extraction.text import TfidfVectorizer #convert textual data into vectors
from sklearn.metrics import accuracy_score

In [8]:
df = pd.read_csv("UpdatedResumeDataSet.csv") #load dataset

         Category                                             Resume
0    Data Science  Skills * Programming Languages: Python (pandas...
1    Data Science  Education Details \r\nMay 2013 to May 2017 B.E...
2    Data Science  Areas of Interest Deep Learning, Control Syste...
3    Data Science  Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...
4    Data Science  Education Details \r\n MCA   YMCAUST,  Faridab...
..            ...                                                ...
957       Testing  Computer Skills: â¢ Proficient in MS office (...
958       Testing  â Willingness to accept the challenges. â ...
959       Testing  PERSONAL SKILLS â¢ Quick learner, â¢ Eagerne...
960       Testing  COMPUTER SKILLS & SOFTWARE KNOWLEDGE MS-Power ...
961       Testing  Skill Set OS Windows XP/7/8/8.1/10 Database MY...

[962 rows x 2 columns]